/* reset css */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  body{
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.cabinBold{
  font-weight: 700;
}

.bg-propio {
  background-color: black;
}


@media screen and (width< 768px) 
{.presentacion
  {
      display: none;
  }
}

@media screen and (width< 576px) {.barra-nav
  {
      text-align: center;
  }
}

